/*
Theme Name: Capital Center Theme
Theme URI: http://witstechnologies.co.ke/temp/wp-themes/capitalcenter
Author: Joseph Mwaka for Wits Technologies
Author URI: http://samevansjack.co.ke/
Description: Wordpress Theme built for Capital Center Website
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: capitalcenter
Tags: white, one-column, flexible-width, custom-background, custom-colors, custom-header, custom-menu, featured-images, front-page-post-form, full-width-template, post-formats, sticky-post, theme-options
Copyright: (c) 2018 Wits Technologies Themes.
*/

/* Below you can write your custom style */
/* for mobile */


/* end mobile*/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');
body { background-color: #f8f9fa;font-family: 'Titillium Web', sans-serif !important; }
.shop_gallery{
height: 400px;
    background-size: cover !important;
    max-width: 48%;
    margin: 1%;
}
.about_banner {
background: url(http://capitalcentre.co.ke/cms/wp-content/uploads/2018/09/1-1-1.jpg) no-repeat;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    height: auto;
    margin-top: 10%;
    background-size: cover !important;
}
@media only screen and (min-width:769px) {
   .happening_wrapper {

    padding-left: 19px;
}
  .dropdown-menu {   
    left: -20px !important;      
    min-width: 13rem;
    padding: 0.5rem 0.6rem;
       border-radius: 0px !important;
}
 .panel-gridx {
    max-width: 1140px !important;
   margin:0px auto;
  }
  #panel-9-2-1-0{
    padding-right: 18% !important;
}
 #pgc-9-4-1 {
    padding-right: 4% !important;
}
  .home_body_1_b {
  
    float: right !important;
    margin-right: 13% !important;
  }

 .search_thumb img {
    height: 125px;
    width: auto;
}
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem !important;
    padding-left: 0.0rem !important;
}
  /*  .content-area .container-fluid  {padding-left: 3% !important;
    padding-right: 3% !important;
}*/
  .navbar {
  /*  padding: 1rem 0rem 1rem 0rem !important;*/
}
  .custom-logo {
 
    margin-bottom: 27px !important;
}
  .shop_list_svg1 {
    clip-path: polygon( 0 17%, 100% 0, 100% 100%, 0 calc(100% - 0vw) ) !important;
    position: relative;
    height: 742px;
    background-size: cover !important;
}
	.home_body_1_b_svg {
        clip-path: polygon( 0 0, 100% 18%, 100% 75%, 0 calc(100% - 0vw) ) !important;
    position: relative;
    height: 640px !important;
    background: #ece7e7;
    background-size: cover;
    padding: 7% 5% 0% 6%;
 
}
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-submenu {
    position: relative !important;
  }
  .dropdown-submenu>.dropdown-menu {
    top: 0 !important;
    left: 100% !important;
    margin-top: -6px !important;
    margin-left: -1px !important;
    border-radius: 0 !important;
  }
  .dropdown-submenu:hover>.dropdown-menu {
    display: block !important;
  }
  .dropdown-submenu>a:after {
    display: block;
    content: "\f105";
    font-family: 'FontAwesome';
    margin-top: -18px;
    right: 15px;
    position: absolute;
    font-weight: 300;
  }
}
.align_right{
  text-align:right !important; 
}
 .parking_round{
    background:red; }
.home_body_1_b_svg {    clip-path: polygon( 0 0, 100% 4%, 100% 97%, 0 calc(100% - 0vw) );
   
    height: auto;  
}
.footer_top2 li {
    display: block !important;
}
.footer-widgets .text_right {
   /* text-align: center !important;*/
}
.footer_right small, .footer_right .small {
    font-size: 59% !important;

}
.what_is_happening_filter{
    padding: 1% 1% !important;
}
.shops_list .col-md-3{
    width: 48% !important;
}
.all_shops_cards_img {
  
    margin-top: 45px;
    margin-bottom: 10px;
    height: 110px;
   
}.shops_list a {
   
    font-size: 16px;
}.store_archive {
    width: 98% !important;
    margin: auto;
}
[data-link] ,#to_blog{
    cursor: pointer !important;
	}
	input[type="submit"] {
    background-color: #001b40 !important;
}.modal-title {
   
    color: #bd0c1a;
}.modal-content {
   
    border-radius: 0px !important;
   
}.view_more:hover {

    outline: #e4e0e0 solid 1px;
    outline-offset: -6px;
}

  .gift_card_btn {
    color: #fff;
    background: #171717;
    padding: 9px 23px;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
}
	.here_to_help a {
color: #212529 !important;}

a:hover{
		text-decoration:none !important;
	}

hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.5em; }

dt { font-weight: bold; }

dd { margin: 0 1.5em 1.5em; }

img { height: auto; /* Make sure images are scaled correctly. */ max-width: 100%; /* Adhere to container width. */ }

figure { margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */ }

table { margin: 0 0 1.5em; width: 100%; }

/* Text meant only for screen readers. */
.screen-reader-text { border: 0; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; -webkit-clip-path: none; clip-path: none; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }

.alignleft { display: inline; float: left; margin-right: 1.5em; }

.alignright { display: inline; float: right; margin-left: 1.5em; }

.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after { content: ""; display: table; table-layout: fixed; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after { clear: both; }

.widget { margin: 0 0 1.5em; /* Make sure select elements fit in widgets. */ }

.widget select { max-width: 100%; }

.sticky { display: block; }

.hentry { margin: 0 0 1.5em; }

.updated:not(.published) { display: none; }

.page-content, .entry-content, .entry-summary { margin: 1.5em 0 0; }

.page-links { clear: both; margin: 0 0 1.5em; }

.comment-content a { word-wrap: break-word; }

.bypostauthor { display: block; }

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */ display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer { display: block; }

.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley { border: none; margin-bottom: 0; margin-top: 0; padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object { max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link { display: inline-block; }

.wp-caption { margin-bottom: 1.5em; max-width: 100%; }

.wp-caption img[class*="wp-image-"] { display: block; margin-left: auto; margin-right: auto; }

.wp-caption .wp-caption-text { margin: 0.8075em 0; }

.wp-caption-text { text-align: center; }

.gallery { margin-bottom: 1.5em; }

.gallery-item { display: inline-block; text-align: center; vertical-align: top; width: 100%; }

.gallery-columns-2 .gallery-item { max-width: 50%; }

.gallery-columns-3 .gallery-item { max-width: 33.33%; }

.gallery-columns-4 .gallery-item { max-width: 25%; }

.gallery-columns-5 .gallery-item { max-width: 20%; }

.gallery-columns-6 .gallery-item { max-width: 16.66%; }

.gallery-columns-7 .gallery-item { max-width: 14.28%; }

.gallery-columns-8 .gallery-item { max-width: 12.5%; }

.gallery-columns-9 .gallery-item { max-width: 11.11%; }

.gallery-caption { display: block; }

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
body { -ms-word-wrap: break-word; word-wrap: break-word; -webkit-font-smoothing: auto; text-rendering: optimizeLegibility !important; -moz-osx-font-smoothing: grayscale; font-smoothing: auto; }

a, button, input { -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

blockquote { font-size: 1.25rem; padding: 1.25rem 1.75rem; }

table { width: 100%; max-width: 100%; margin-bottom: 1rem; background-color: transparent; }

table th, table td { padding: 0.75rem; vertical-align: top; border-top: 1px solid #dee2e6; }

table thead th { vertical-align: bottom; border-bottom: 2px solid #dee2e6; }

table tbody + tbody { border-top: 2px solid #dee2e6; }

table table { background-color: #fff; }

figcaption { padding-top: 0; padding-bottom: .75rem; color: #6c757d; text-align: left; }

input[type="button"], input[type="reset"], input[type="submit"] { display: inline-block; font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 1px solid transparent; line-height: 1.5; border-radius: 0.25rem; -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; padding: 0.5rem 1.25rem; color: #fff; background-color: #007bff; border-color: #007bff; }

input[type="button"]:active, input[type="button"]:hover, input[type="reset"]:active, input[type="reset"]:hover, input[type="submit"]:active, input[type="submit"]:hover { color: #fff; background-color: #0062cc; border-color: #005cbf; cursor: pointer; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { display: block; width: 100%; padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: 0.25rem; -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus { color: #495057; background-color: #fff; border-color: #80bdff; outline: 0; -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

input[type="text"]:-webkit-input-placeholder, input[type="text"]:-moz-placeholder, input[type="text"]:-ms-input-placeholder, input[type="email"]:-webkit-input-placeholder, input[type="email"]:-moz-placeholder, input[type="email"]:-ms-input-placeholder, input[type="url"]:-webkit-input-placeholder, input[type="url"]:-moz-placeholder, input[type="url"]:-ms-input-placeholder, input[type="password"]:-webkit-input-placeholder, input[type="password"]:-moz-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-webkit-input-placeholder, input[type="search"]:-moz-placeholder, input[type="search"]:-ms-input-placeholder, input[type="number"]:-webkit-input-placeholder, input[type="number"]:-moz-placeholder, input[type="number"]:-ms-input-placeholder, input[type="tel"]:-webkit-input-placeholder, input[type="tel"]:-moz-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="range"]:-webkit-input-placeholder, input[type="range"]:-moz-placeholder, input[type="range"]:-ms-input-placeholder, input[type="date"]:-webkit-input-placeholder, input[type="date"]:-moz-placeholder, input[type="date"]:-ms-input-placeholder, input[type="month"]:-webkit-input-placeholder, input[type="month"]:-moz-placeholder, input[type="month"]:-ms-input-placeholder, input[type="week"]:-webkit-input-placeholder, input[type="week"]:-moz-placeholder, input[type="week"]:-ms-input-placeholder, input[type="time"]:-webkit-input-placeholder, input[type="time"]:-moz-placeholder, input[type="time"]:-ms-input-placeholder, input[type="datetime"]:-webkit-input-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-webkit-input-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="color"]:-webkit-input-placeholder, input[type="color"]:-moz-placeholder, input[type="color"]:-ms-input-placeholder, textarea:-webkit-input-placeholder, textarea:-moz-placeholder, textarea:-ms-input-placeholder { color: #6c757d; opacity: 1; }

select { height: calc(2.25rem + 2px); display: block; width: 100%; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem; -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

blockquote { font-style: italic; font-size: 1.15rem; border-left: 3px solid rgba(33, 37, 41, 0.25); padding: 0.5rem 1.75rem; background: rgba(33, 37, 41, 0.05); }

blockquote p { font-size: 1.15rem; }

blockquote p:last-child { margin-bottom: 0; }

.navbar-dark .navbar-nav .dropdown-menu a {       display: block;
    width: 100%;
    padding: .65rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    margin-left: 5px; }

.site-footer { padding-top: 3rem; padding-bottom: 3rem; }

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next { float: right; text-align: right; width: 50%; }

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous { float: left; text-align: left; width: 50%; }

.post-thumbnail { margin-top: 1.5em; display: inline-block; }

.card-title.entry-title { margin-bottom: .25rem; }

.entry-meta { font-size: .9rem; }

.entry-footer { font-size: .9rem; margin-top: 1rem; }

.comments-link { float: right; margin: 4px 0px 4px 10px; font-size: 90%; padding-top: 0.2em; }

.cat-links .badge, .tags-links .badge { font-size: 90%; font-weight: normal; border: 1px solid rgba(0, 0, 0, 0.125); margin: 4px 10px 4px 0; padding: 0.4em .9em; }

.cat-links a, .tags-links a { color: #6c757d; }

.cat-links a:hover, .tags-links a:hover { text-decoration: none; color: #212529; }

.entry-meta a, .comments-link a, .edit-link a { color: #6c757d; }

.entry-meta a:hover, .comments-link a:hover, .edit-link a:hover { text-decoration: none; color: #007bff; }

.entry-title a:hover { color: #007bff !important; }

.content-area.wp-bp-404 .card-body { padding: 2.5rem 4rem; }

.sidebar-1-area .widget, .footer-widgets .widget { margin-bottom: 0; padding: 2rem; }

.sidebar-1-area .widget ul, .footer-widgets .widget ul { padding-left: 20px; color: #6c757d; margin-bottom: 0; }

.sidebar-1-area .widget ul li, .footer-widgets .widget ul li { padding-top: 3px; padding-bottom: 3px; list-style: square; }

.sidebar-1-area .widget ul li:last-child, .footer-widgets .widget ul li:last-child { padding-bottom: 0; margin-bottom: 0; }

.sidebar-1-area .widget ul li a, .footer-widgets .widget ul li a { color: #6c757d; }

.sidebar-1-area .widget ul li a:hover, .footer-widgets .widget ul li a:hover { color: #212529; text-decoration: none; }

.footer-widgets .widget { padding: 0.5rem; }

#wp-calendar #next { text-align: right; }

#wp-calendar #prev a, #wp-calendar #next a { color: #6c757d; }

#wp-calendar #prev a:hover, #wp-calendar #next a:hover { color: #212529; text-decoration: none; }

#calendar_wrap table th, #calendar_wrap table td { padding: .25rem; }

.hentry.card .card-body { padding: 1.5rem; }

select { height: calc(2.25rem + 2px); display: block; width: 100%; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem; -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

.entry-title a:hover { text-decoration: none; }

.mt-3r { margin-top: 3rem; }

.wp-bs-4-jumbotron { margin-bottom: 0; }

.wp-bs-4-jumbotron .jumbotron-heading { font-weight: 600; }

.wp-bs-4-jumbotron .container { max-width: 40rem; }

.comments-area { clear: both; -ms-word-wrap: break-word; word-wrap: break-word; overflow-wrap: break-word; word-break: break-word; }

.comments-area .media-body { overflow: auto; }

.comments-area .comment-list { list-style: none; padding-left: 0; }

.comments-area .comment-list > li { border-bottom: 1px solid #dee2e6 !important; padding: 2.5rem 4rem; }

.comments-area .comment-list ul.children { list-style: none; padding-left: 2rem; }

.comments-area .comment-list ul.children li { padding: 2.5rem 0 0; }

.comments-area .comment-list .comment-respond { padding: 2.5rem 4rem; }

.comments-area .comments-title { padding: 2.5rem 4rem; border-bottom: 1px solid #dee2e6 !important; }

.comments-area .comment-navigation { padding: 1rem 4rem 0; border-bottom: 1px solid #dee2e6 !important; }

.comments-area .wb-comment-form { padding: 2.5rem 4rem; }

.comments-area .wb-cancel-reply { margin-left: 2rem; }

.comments-area .logged-in-as { padding-left: 15px; font-size: .9rem; }

.comments-area .logged-in-as a { color: #6c757d; }

.comments-area .logged-in-as a:hover { color: #212529; text-decoration: none; }

.comments-area .wb-comment-notes { font-size: .9rem; }

.comments-area .no-comments { padding: 1rem 4rem; }

.comments-area small { font-size: .9rem; }

.comments-area p { -ms-word-wrap: break-word; word-wrap: break-word; overflow-wrap: break-word; word-break: break-word; }

.comments-area .comment-reply-link, .comments-area .comment-edit-link { margin-right: 1rem; color: #6c757d; }

.comments-area .comment-reply-link:hover, .comments-area .comment-edit-link:hover { color: #212529; text-decoration: none; }

.comments-area .comment-author a:hover { text-decoration: none; color: #212529; }

.wp-bp-sticky { position: absolute; top: 0; right: 1rem; }

.single .post-navigation .nav-links a { color: #6c757d; margin-bottom: 2rem; display: inline-block; }

.single .post-navigation .nav-links a:hover { color: #212529; text-decoration: none; }

.navbar { padding: 1rem; }

#wp-bp-posts-slider { border: 1px solid rgba(0, 0, 0, 0.125); }

#wp-bp-posts-slider .carousel-item img { width: auto; height: 400px; -o-object-fit: cover; object-fit: cover; }

#wp-bp-posts-slider .carousel-caption { background: rgba(0, 0, 0, 0.4); width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; padding: 2rem 4rem; }

#wp-bp-posts-slider .carousel-control-prev, #wp-bp-posts-slider .carousel-control-next { width: 10%; }

.custom-logo-link { margin-right: 1rem; }

.site-title a, .navbar-dark .navbar-brand, .site-description { color: #fff; margin-bottom: 0; }

.navbar-brand { font-size: 1.5rem; }

.navbar-dark .navbar-nav .nav-link { color: #3f4548;
    opacity: 1; text-transform: uppercase; }

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus { color: #fff; opacity: 0.75; }

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: #004185;
    opacity: 1;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus { color: #fff; }

.navbar-dark .navbar-nav .dropdown-menu .active > .nav-link { color: #212529; }

.navbar-dark .navbar-nav .dropdown-menu .nav-link:hover, .navbar-dark .navbar-nav .dropdown-menu .nav-link:focus { color: #212529; }

.page-template-full-width .site-footer.mt-4, .wb-bp-front-page .site-footer.mt-4 { margin-top: 0 !important; }

.wb-hide-mobile-sidebar .wp-bp-sidebar-width { display: none; }

.navbar-toggler { background-color: rgba(0, 65, 133, 0.9); }
body.custom-background .wp-bp-main-content .col-md-8 { background: #f8f9fa; padding: 2rem; border: 1px solid rgba(0, 0, 0, 0.125); }

.site-footer a:hover { text-decoration: none; }

.admin-bar .site-header.sticky-top { top: 32px; }

.wb-bp-front-page .site-header { border-bottom: 0; }

.wb-bp-front-page .wp-bs-4-jumbotron { padding: 0; background-size: cover; background-position: center; background-color: #343a40; border-radius: 0; }

.wb-bp-front-page .wp-bs-4-jumbotron .wp-bp-jumbo-overlay { padding: 10rem 2rem; /* background: rgba(#212529, 0.7); */ }

.wb-bp-front-page .wp-bs-4-jumbotron .wp-bp-jumbo-overlay .lead { opacity: .75; }

.wb-bp-front-page .wp-bs-4-jumbotron .wp-bp-jumbo-overlay .jumbotron-heading { font-weight: 600; font-size: 3rem; margin-bottom: 1rem; }

.wb-bp-front-page .wp-bp-services-section { padding: 4rem 0; }

.wb-bp-front-page .wp-bp-main-content { padding: 4rem 0; }

.wb-bp-front-page .wp-bp-main-content p { font-size: 1.25rem; font-weight: 300; }

.wb-bp-front-page .wp-bp-main-content blockquote { font-size: 1.35rem; }

.wb-bp-front-page .wp-bp-main-content blockquote p { font-size: 1.35rem; }

.wb-bp-front-page .wp-bp-main-content .post-thumbnail { margin-bottom: 1rem; margin-top: 0.5rem; }

.wb-bp-front-page .wp-bp-feat-card-img { -o-object-fit: cover; object-fit: cover; height: 200px; width: 100%; }

.wp-caption .wp-caption-text { font-size: 0.95rem; }

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (min-width: 768px) { .hentry.card .card-body { padding: 2.5rem 4rem; }
  .wb-hide-mobile-sidebar .wp-bp-sidebar-width { display: block; } 

.dropdown:hover>.dropdown-menu {
  display: block;
}}


/* newest */
body{
  overflow-x: hidden;

}
.header_1_svg {
position: relative;
    height: 104px;
    clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw) );
  
    background-size: 100%;
    background-position-y: 67%;
}

.header_2_svg {
clip-path: polygon( 0 15%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
       clip-path: polygon( 0 15%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
    position: relative;
   height: 556px;
 
    

 
}
.float_right{
    float: right;
}
.top_bar_right .fa{
      font-size: 26px;
    margin-right: 15px;
    color: #312f2f;
}
    
    .top_bar{
          border-bottom: solid #eae7e7 1px;
        
    }
     .home_body_1_a{
       min-height: 354px;
    padding: 1%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background: white;
    width: 48%;
    position: absolute;
    /* left: 8%; */
}
 
  .single_shop_a {
    position: relative !important;
    margin-left: 0% !important;
    min-height: 199px !important;
    margin-top: -30px;
}

.home_body_1_b{
      background: black;
    height: auto;
       width: 57%;
    margin-right: 30px !important;
    padding: 32px 10px 59px 39px;
    color: #fff;
    border-top: 4px solid #eb1c2f;
    margin-top: -63px;
    clip-path: polygon( 0 0, 100% 0%, 100% 86%, 0 calc(100% - 0vw) );
}
.home_body_1_b .list-group-item {

     background-color: transparent;
    border-bottom: 0px;
    text-align: left;
}
.text_center{
    text-align: center;
}
.text_right{
    text-align: right;
}

.home_body_1_b_svg_left{
     padding: 1% 1%; 
    margin-top: 7%;
    height: 341px;   
    background-size: cover;
}
.home_body_1_b_svg_right{
    padding: 1%;

        margin-top: 7%;
}
.home_body_2_cards_img{
    padding: 1% 1%;
   
    margin-top: 7%;
    height: 300px;        
   
    background-size: cover;  
}
.home_body_2_cards{
       padding: 3% 6%;
} 



.home_body_2_svg {
clip-path: polygon( 0 0, 100% 14%, 100% 100%, 0 calc(100% - 0vw) );
    position: relative;
    height: auto;
    background-color: #004185;
    background-size: cover;
    padding-top: 11%;
    padding-bottom: 3%;
    color: white !important;
}
.home_body_6_svg {
    clip-path: polygon( 0 0, 100% 18%, 100% 75%, 0 calc(100% - 0vw) );
    position: relative;
    height: 640px;
    background: #ece7e7;
    background-size: cover;
}
 .home_body_6_svg img{
    height: 274px !important;
    margin-top: 25%;
    width: auto;
    float: left;
       padding-left: 0px;
}



.shops_cards_img{
      padding: 1% 1%;   
    margin-top: 7%;
    height: 300px;
    background-size: cover;    
}
.inner_container{
       padding: 1% 6%;
}
.home_body_4_svg {
    background-size: cover;
    padding-top: 8%;}

.footer_right ul li {
    display: inline !important;
}

.footer_right{    
    font-size: 28px;
}
.footer_top2 .fa {
    font-size: 29px;
    margin-right: 5px;
    color: #6d6b6b;
}
.footer_right .fa{
    margin-left: 40px;
    font-size: 28px !important;
}
.footer_svg{
      clip-path: polygon( 0 24%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
    position: relative;
    height: auto;
    background: black;
    background-size: cover;
    padding: 11% 1% 1%;
}
 
footer a, footer {
    color: white !important;
}
footer ul li{
    list-style-type: none !important;
}
.large_txt{
 font-size: 40px;
    line-height: 48px;   
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff !important;
    margin: 1em 0;
    padding: 0; 
}
ul { padding-left: 0; list-style-type:none;}
.home_body_4_svg .fa{
       font-size: 74px;
}
.dropdown-menu {

    border: 0px;
   
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.what_is_happening{
    padding: 3% 0%;
}

.index__label___2snup {
    cursor: pointer;
    display: inline;
    border: 1px solid #d5d5d5;
    background-color: #fff;
    color: #171717;
    font-weight: 700;
    text-transform: capitalize;
    padding: 12px 16px;
    width: auto;
    color: gray;
}

.happening_wrapper{
    margin-top: 24px;
    border-bottom: solid 2px #c5c5c563;
    background-color: white;
    margin-bottom: 54px;
}
.happening_txt h4{
       color: #eb1c2f;
    text-transform: capitalize;
}
.happening_img2{
   margin-top: 0%;
    height: 270px;
    background-size: cover !important;     
}
.pink { color: #eb1c2f;}
.econcierge1_card2{
    color: #fff;
    background: #171717;
    padding: 10px;
       margin-left: 7%;
    margin-top: -60px;
}
.econcierge1_card{
    background: #fff;
    padding: 32px;
}
[data-toggle="collapse"] .fa:before {  
  content: "\f139";
}
[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: white;

}
.card {   background-color: transparent;}
.card .btn-link {
    color: #fff !important;
}.econcierge_svg {
       clip-path: polygon( 0 15%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
    position: relative;
    height: auto;
    background: #004185;
    background-size: cover;
    padding-top: 10%;
    color: white;
    padding-bottom: 13%;
}
.openhours_svg{
    clip-path: polygon( 0 15%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
    position: relative;
    /* height: 576px; */
    background: #004185;
    background-size: cover;
    padding-top: 10%;
    color: white;
    padding: 13% 0% 2%;
        
}
.parking_svg{
    clip-path: polygon( 0 15%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
    position: relative;
    background: #004185;
    background-size: cover;
    padding-top: 10%;
    color: white;
    padding: 13% 0% 2%;
        
}
.getting_here_svg{
      clip-path: polygon( 0 15%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
    position: relative;
    background: #004185;
    background-size: cover;
    padding-top: 10%;
    color: white;
    padding: 13% 0% 2%;
    
}
.community_svg{
      clip-path: polygon( 0 15%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
    position: relative;
    background: #004185;
    background-size: cover;
    padding-top: 10%;
    color: white;
    padding: 13% 0% 2%;
}
.open_hours_table{    
        background: white;
    color: #1f1d1d;
    padding: 3%;
}
.openhours_svg .dark_card {
    margin-left: 14%;
    margin-top: -61px;
}
.open_hours_table .table td{
  color:#1f1d1d !important;  
}
.econcierge2_card{
    background: #e8e8e8;
    padding: 5% 1%;
    text-align: center;
    height: 300px;
    max-width: 30% !important;
    margin: 1%;
}
.econcierge2_card .fa {
    font-size: 6em;
    font-weight: 100;
}
.econcierge2{
    padding-top: 50px;
}
.econcierge2_card:hover{
    cursor: pointer;
}
.dark_card{
    color: #fff;
    background: #171717;
    padding: 21px;
    max-height: 400px;
    float: right;
}
.dark_card_indent{
    padding-left: 40px;
}
.dark_card a{
    color: #fff;
}
.dark_card .fa {
       font-size: 18px;
    margin-right: 4px;
}
.view_more{
    color: #fff;
    background: #171717;

    padding: 9px 23px;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;

}
.custom_row{
       width: 84%;
    margin: auto;
}

.service_header{
border-bottom: solid 1px gray;
    padding-bottom: 2%;
    padding-top: 1%;
}
.border_bottom{
  border-bottom: solid 1px gray;   
}
.card a{
    color: #fff;
}
.card .fa{
 font-size: 25px;
    margin-right: 20px;
}
.card .btn {
    text-align: left !important;
}
.shop_list_svg2 {
clip-path: polygon( 0 0, 100% 15%, 100% 82%, 0 calc(100% - 0vw) );
    position: relative;
    height: auto;
    background: #f2f2f2;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 11%; 
}
.custom_container{
    width: 90%;
    margin: 0px auto
}
.shop_list_svg_img{
    padding: 1% 1%;
    margin-top: 45px;
    margin-bottom: 10px;
    height: 200px;
    background-size: 100% !important;    
}
.carousel_img{
    padding: 1% 1%;
    margin-top: 45px;
    margin-bottom: 10px;
    height: 233px;
    background-size: cover;       
    
}
.story_1{
    clip-path: polygon( 0 0%, 100% 0, 100% 100%, 0 calc(85% - 0vw) );
    position: relative;
    height: 273px;
    background-size: cover;    
}
.story_2{
    clip-path: polygon( 0 0%, 100% 0, 100% 100%, 0 calc(85% - 0vw) );
    position: relative;
    height: 273px;
      background-size: cover;    
}
.all_shops_cards_img{
    padding: 1% 1%;
    margin-top: 45px;
    margin-bottom: 10px;
    height: 237px;
    background-size: 100% !important;
    border: 0px;
   
}
.all_shops_cards_img:hover, .shop_list_svg_img:hover{
    cursor: pointer;
}
.single_shop_logo{
position: absolute;
    top: 0;
    height: 272px;
    margin-left: 16px;
    margin-bottom: 64px;
    display: block;
    left: calc((100vw - 1152px) / 2);
    z-index: 3;
}
.single_shop_logo img {
max-width: 63%;
    max-height: 347px;
    box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 20px;
}
.footer_btn {
    background: white;
    color: black !important;
    border-radius: 0px;
    padding: 8px 34px;
}
.footer_right h4{
    font-size: 18px;
    font-weight: normal !important;
    text-transform: uppercase;
}
#carouselExample .fa{
    background: red;
    opacity: 1;
    padding: 15px;
    color: white !important;
}
a:hover{
    color: #eb1c2f !important;
}


.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    color: #4c4a4a;
    text-transform: uppercase; 
}
.home_body_1_b a {
color:#fff !important;
}
.footer_right .fa a,.footer_right .fa  {
 color:gray !important;
}
/* search */
/* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); 
}
/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}
/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}
.overlay input[type=text]:hover {
  background: #f1f1f1;
}
/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.overlay button:hover {
  background: #bbb;
}  
#menu-footer_contacts ul li {
   font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif !important;
  color:gray !important;}
#menu-footer_contacts li a{
    color: #b7b1b1 !important;
    font-size: 16px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif !important;
}.footer_top li,.footer_top2 li,.footer_top3 li, .footer_right ul li{
        display: inline !important;
    }
    footer {
    padding: 42px 0 20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif !important;
}
#menu-footer_contacts .fa:before {   
    font-size: 28px !important;
    margin-right: 7px !important;
    color: #9a9999;}
.carousel {
    position: relative;
    margin: 39px 0px;
}.footer_top2 a{
color: #6d6b6b !important;
}
.inner_image img {
    height: 334px !important;
    margin-top: 19% !important;
        height: 300px !important;
}
#panel-9-2-1-0{  margin-top: 20%;}
.top_padding{
 padding: 26% 20% 0% 0%;   
}
.single_shop_1{	margin-bottom:50px;}
.single_shop_what_is{  padding: 4% 4% 2%;}
.panel-grid-cell .widget-title {
    margin-top: 0;
    color: #eb1c2f;
    text-transform: uppercase;
}
.home_body_2_svg  a{   
      color: #fff !important;
    text-transform: uppercase !important;
    font-size: 17px;}
.shops_list a {   color: #2c2e2f !important; 
}
.shops_list a:hover {
    color: #eb1c2f !important;
    text-decoration: none !important
}
.text_center{text-align:center !important;}
.rpc-title a{
    color:gray !important;
}
.wcp-carousel-main-wrap .post-style-2 .wcp-post-contents {
 display: none !important;}
.wcp-carousel-main-wrap .slick-list {   
    margin: 0 auto  !important; 
    width: 100%  !important;
}
.wcp-carousel-main-wrap .slick-track a { 
  color: #352d2d !important;
}
.econcierge1_card_single_post {
    height: 389px !important;
    margin-left: 3% !important; }
.wcp-carousel-main-wrap .post-style-2 .wcp-post-meta{
    display: none !important;
}.wcp-carousel-main-wrap{
    margin-top: 35px !important;
}
.footer_top li a {  
    margin-right: 15px;
  text-transform:uppercase;
}
.mobile-footer{
  display:none;
}
.row_soo{  
  float:left;
  width:100%}
.row_half{  
  float:left;
  width:50%
}
.single_post_cap {
    width: 60% !important;
    margin-left: 2% !important;
  
}
/*MOBILE RESPONSIVENESS*/
@media screen and (max-width: 767px){
	
 
  .wcp-carousel-main-wrap {
    width: 90% !important;
    margin: 4px auto !important;
}  
  .card_single_shop {  margin-left: 0% !important; }
  .single_shop_1 h3 {    text-align: center;}
  .single_shop_a {   width: 98% !important;}
  .about_banner {    height: 252px;}
  .bottom_footer img{ height:50px;  }
    .bottom_footer p{font-size: 14px;margin: 10px 0px 20px;}
  .panel-widget-style-for-9-3-0-0{ margin-left: -20px !important;}
 .home_carousel  {
    margin-left: -22px;
    padding: 9%;
}
  .subscribeToggle {    
    	  width: 80% !important;
    min-height: 207px !important;
    right: 10% !important;
    bottom: 138px !important;
   
}
	#subscribexa{
		display:none;
	}
   .menu-home_stores-container {
    margin-top: 28px;    
    padding-left: 9px;
}
  .footer_top2 .fa {
    font-size: 24px;
    margin-right: 8px;
  }
  .footer_top2 li {
    display: block !important;
}
  .home_body_1_a,#pgc-9-2-1,.econcierge1_card1  {   
    padding: 1% 5% !important;
}
  .shops_min {
    margin-top: 29px !important;
}
  .shop_list_cards {
    max-width: 90% !important;
  }
  .all_shops_cards_img {   
       height: 165px !important;;
  }
  .mobile-footer {
	display: block!important;
	z-index: 99999!important;
    background: #eb1c2f;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	line-height: 1
}
.mobile-footer_1 {
	float: left;
	color: #fff;
	width: 25%;
	padding: 10px 0;
	text-align: center;
	font-size: 16px;
	font-weight: 400
}
.mobile-footer_1 a {
	color: #fff!important
}
.mobile-footer_1 .fa {
    margin-bottom: 6px!important;
    font-size: 28px;
}
.mobile_nopad {
	padding: 0!important
}
.social-media span {
	margin: 7px
}  
 #pl-9 .panel-grid-cell {
     padding: 1% 0% !important;
    margin-left: 6%;
} 
  .shop_gallery {
    height: 152px  !important;
  }
  .footer-widgets .text_right {
    text-align: center !important;
}
  .econcierge1_card_single_post {  
    margin-top: 0px !important;   
}
  .top_bar_right {
    float: right !important;
  margin-top: 24px !important;
}
	.navbar-nav {
    margin-top: 40px !important;
}
	.top_bar_time{
		font-size:12px;
	}
    body,html{
    overflow-x: hidden !important;
}
    .home_body_1_b {
    width: 94%;
    margin-left:-1% !important;
    padding: 32px 10px 59px 49px;
    color: #fff;
    border-top: 4px solid #eb1c2f;
    margin-top: 0px;
    clip-path: polygon( 0 0, 100% 0%, 100% 86%, 0 calc(100% - 0vw) );
}
    .custom-logo {
   height: 61px !important;
    }
    .navbar-dark .navbar-toggler {
    top: 3px;
    left: 0px;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
    z-index: 99999;
    border-radius: 0px !important;
}
.home_body_6_svg {
    clip-path: polygon( 0 0, 100% 4%, 100% 98%, 0 calc(100% - 0vw) );
    position: relative;
    height: auto;
    background: #ece7e7;
    background-size: cover;
    padding-left: 1%;
  padding-bottom: 40px;
}

.home_body_6_svg img {
    height: 169px !important;
}
      .header_1_svg {
       display:none; 
    }
    .navbar-light .navbar-toggler {
  color: white !important;
    border-color: transparent;
    background: #004185;
    text-align: right;
    position: absolute;
    right: 1px;
    z-index: 5;
    top: 1px;
    border-radius: 0px;
}.home_body_2_svg {
    clip-path: polygon( 0 0, 100% 1%, 100% 100%, 0 calc(100% - 0vw) );
}
.footer_svg {
    clip-path: polygon( 0 7%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
    position: relative;
    height: auto;
    background: black;
    background-size: cover;  
    padding: 17% 1% 24%;
    line-height: 1.2;
}.footer_right {
    text-align: center !important;}
.shop_list_svg_img {
    height: 163px;
    width: auto !important;
}
.happening_wrapper {
    padding: 0% 3%;
}.econcierge_svg {
      clip-path: polygon( 0 4%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
    margin-top: 30px;
    padding-top: 21%;  
}.econcierge2_card {
    background: #e8e8e8;
    padding: 5% 1%;
    text-align: center;
    height: 169px;
    max-width: 48% !important;
    margin: 1%;
}
.econcierge2_card h4, .h4 {
    font-size: 15px;
}
.econcierge2_card .fa {
    font-size: 3em;    
}.openhours_svg {
clip-path: polygon( 0 2%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
    padding: 9% 5%;
}
.openhours_svg .dark_card {
    margin-left: 0%;
    margin-top: 15px;
}.parking_svg {
     clip-path: polygon( 0 2%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
    margin-top: 29px;
}
.econcierge1_card2 { 
    margin-top: 11px !important;
  margin-left: 0px !important;
      padding: 30px !important;
}
.getting_here_svg {
    clip-path: polygon( 0 3%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
      margin-top: 29px;
	}.getting_here{
	 margin-bottom: 30px;
}
.community_svg {
    clip-path: polygon( 0 2%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
         margin-top: 29px;  
    padding: 14% 0% 2%;
}.single_shop_logo {
    position: relative;
    height: 58px;
    margin-bottom: 64px;
    display: block;
    z-index: 8;
    left: -15px;
    text-align: center;
}
.single_shop_logo img{
height: 70px;
    width: auto !important;
    max-width: 100% !important;
}.shop_list_svg1 {
    clip-path: polygon( 0 5%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
    position: relative;
    width: 100%;
height: 194px;
    margin-top: -97px; 
	    background-size: 100% !important;
}.shop_list_svg2 {
     clip-path: polygon( 0 0, 100% 2%, 100% 100%, 0 calc(100% - 0vw) );
    margin-top: 16px;    
}
.header_2_svg {
    clip-path: polygon( 0 5%, 100% 0, 100% 100%, 0 calc(100% - 0vw) );
    position: relative;
       height: 170px;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    margin-top: 20px;
    margin-bottom: -19px !important;
  }
 .home_body_1_a {  
    background: white;
      width: 90%;
    position: relative;  
}.home_body_1_b_svg {
 clip-path: polygon( 0 0, 100% 4%, 100% 94%, 0 calc(100% - 0vw) );
    padding-right: 10%;
    height: auto;
    margin-left: -53px;
    padding-bottom: 83px;    
}
	.single_post_cap {
    width: 98% !important;
    margin-left: 2% !important;
}
}

.btn_read_more{
 background:gray; 
}.service_header  a{
  color:red !important;
}
.shop_list_cards{
     margin-top: 20px;
    max-width: 23%;
    border: solid 1px #dadada;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
 .shop_list_cards h3 a{
color: #545454;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}
.shop_list_cards:hover{
    background: #f3f0f0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  border-radius:0px !important;
  
}
.page-id-369 input[type="submit"] {
    background: #1f1e1e !important;

    border: 0px;
    padding: 10px 53px;
    text-transform: uppercase;
    font-weight: bold;
}
#menu-home_stores li{
  margin-top:10px !important;
}/*===  Loader ===*/
.circle-progress {
	text-align: center;
	padding-top: 30px;
	display: inline-block;
}

.circle-progress .prog-circle {
	position: relative;
	margin-bottom: -155px;
}

.circle-progress .prog-circle:after {
	position: absolute;
	content: "";
	width: 177px;
	height: 177px;
	left: 9px;
	top: 9px;
	border-radius: 50%;
	border: 2px solid #fff;
	z-index: 1;
}

.circle-progress canvas {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.circle-progress .progress-info {
	width: 100%;
	border-radius: 150px;
	margin: 0 auto;
	padding-top: 22px;
}

.circle-progress .progress-info h2 {
	font-size: 48px;
}

.circle-progress .prog-title {
	text-align: center;
	margin-top: 100px;
}

.circle-progress .prog-title h3 {
	font-size: 18px;
	color: #727272;
}

.img-popup-warp .mfp-content {
	opacity: 0;
	-webkit-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	        transform: scale(0.8);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.img-popup-warp.mfp-ready .mfp-content {
	opacity: 1;
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}
.futa_socs {
    margin-bottom: 1px;
}
.shops_min{
  padding:1% 3% 1% 0% !important;
}
select {
  
    border-radius: 0px !important;
}
#envirabox-content {
    width: 0;
    height: 0;
    padding: 0;
    outline: none;
    position: relative;
    overflow: hidden;
    z-index: 988021;
    border: 0px !important;
    -webkit-box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0px !important;
}
.pagination a{
 background: #eb1c2f;
    color: white;
    padding: 1px 5px;
    margin: 3px;
}
.pagination .current{
      background: black;
    color: white;
    padding: 1px 5px;
}
.single_shop_1 h3{
    font-size: 1.45rem;
}
p {

    margin-bottom: 0.6rem !important;
}
.no_pad {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.card_working p{
  display: inline !important;

} 
.card .btn-link:hover {
    color: #fff !important;
  text-decoration:none !important;
}.textwidget h3{
     color: #004185;
}
#subscribex{
    z-index: 2222 !important;
    position: fixed;
    right: 0px;
    bottom: 44px;
  cursor: pointer;
}
#subscribex img{
    height: 186px;
}
.pink {
    color: #eb1c2f !important;
}.card_single_shop{
     margin-left: 11%; 
}

.card_single_shop .fa{
  font-size:20px !important;
}
.card_working{
    padding: 8px 6px;
}
.card_working a{
  color: #fff !important; 
}
.econcierge1_card2 {
   color: #fff;
    background: #171717;
    padding: 10px;
    margin-left: 7%;
    margin-top: -60px;
       margin-left: 12%;
}

.subscribeToggle{
    position: fixed;
    width: 335px;
    min-height: 197px;
    background: #000;
    right: 0%;
    z-index: 999;
    bottom: 162px;
    color: white !important;
    text-align: center;
    padding: 2% 2% 2% 2%;
    display: none;
}
.fa_cloze{color: #d00d0d;
    font-size: 24px !important;
    position: absolute;
    /* float: left; */
    left: 3px;
    top: 1px;
}
#envirabox-content{  
  width:100% !important; }
.econcierge1_card2 h3, .dark_card h3{
  color:white !important; }
.slick-prev, .slick-next {

    top: 38% !important;
}
.subscribe_btn {
  font-size: 19px;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    position: fixed;
    bottom: 200px;
    z-index: 22;
      right: -61px;
    padding: 17px 14px;
    height: 55px;
    min-width: 174px;
        background-color: rgb(235, 27, 46);
    /* margin-left: -127px; */
    border-radius: 0px;
    border: 0px solid transparent;
    outline: none;
    transform: translateY(-40%) rotate(-90deg);
    -webkit-transform: translateY(-40%) rotate(-90deg);
    -moz-transform: translateY(-40%) rotate(-90deg);
    -ms-transform: translateY(-40%) rotate(-90deg);
    -o-transform: translateY(-40%) rotate(-90deg);
}

.subscribe_btn a{
  color:white !important; }
.subscribe_btn a:hover, .subscribe_btn a:active, .subscribe_btn a:focus .subscribe_btn:hover{
color:white !important;
  background: #004185;
}
.site{
  margin-top:-1px !important;
}
 .cat-item a  { cursor: pointer;
    display: inline;
    border: 1px solid #d5d5d5;
    background-color: #fff;
    color: #171717;
    font-weight: 700;
    text-transform: capitalize;
    padding: 12px 16px;
    width: auto;
    color: gray;
   margin-left: 8px;
}
.cat-item {
 float:left !important; 
   display: inline !important;
}
.categories ul li{
 display: inline !important; 
}
.container-fluid .container {
    padding-left:0;
    padding-right:0;
}
#subscribexa a:hover {
     color: #fff !important; 
}
.econcierge1_card_single_post .card-header {
    padding: 0.1rem 1.25rem !important;  
    border-bottom: 0px !important;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 1px solid red !important;
    color: red !important;
    font-size: 12px !important;
}

.card-header {
      padding: 0.01rem 0.05rem !important;
    margin-bottom: 0 !important;
    background-color: rgba(0, 0, 0, 0.03) !important;
    border-bottom: 0px !important;
}
.page-id-369 .econcierge1_card2 .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0px !important;
    padding: 0.175rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.page-id-369 .econcierge1_card2 {
    height: 380px !important;
    padding: 4% 2% 3%;
}
.page-id-369 .econcierge1_card2 h5 {
    font-size: 16px;
    margin-bottom: 21px !important;
    padding-left: 3%;
}
 .page-id-369 .econcierge1_card2 .row{
    margin-top: 11px;
}